<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inserir Produtos</title>
</head>
<body>

<h1>Inserir dados do produto</h1>

<form id="CreateProduto" enctype="multipart/form-data">
    <label for="name">Nome do produto</label>
    <input type="text" id="name" required><br>

    <label for="preco">Preço do produto</label>
    <input type="number" id="preco" required><br>

    <label for="imagem">Imagem do produto</label>
    <input type="file" id="imagem" accept="image/*" required><br>

    <button type="submit">Enviar</button>
</form>

<script>
    document.getElementById("CreateProduto").addEventListener("submit", function(event) {
        event.preventDefault();

        const name = document.getElementById("name").value;
        const price = parseFloat(document.getElementById("preco").value);
        const imagem = document.getElementById("imagem").files[0];

        // Verifica se o preço é um número válido
        if (isNaN(price)) {
            alert("Por favor, insira um valor numérico para o preço.");
            return;
        }

        const formData = new FormData();
        formData.append("name", name);
        formData.append("price", price);
        formData.append("imagem", imagem);

        fetch("api/v1/produtos", {
            method: "POST",
            body: formData  // Use FormData para enviar dados multipart/form-data
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Erro ao enviar a requisição");
                }
                return response.json();
            })
            .then(data => {
                // Manipule a resposta da API conforme necessário
                console.log("Produto salvo com sucesso:", data);
            })
            .catch(error => {
                // Trate erros da requisição
                console.error("Erro na requisição:", error.message);
            });
    });
</script>

</body>
</html>
